.edit-order-dialog {
  min-width: 600px;

  .order-details {
    margin-top: 20px;

    mat-table {
      width: 100%;
    }
  }

  .order-summary {
    margin-top: 20px;
    text-align: right;
    font-weight: bold;
  }

  mat-dialog-actions {
    justify-content: flex-end;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
}
